In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=1000)

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [10]:
# in smaller

In [11]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=10000)

In [12]:
df_iter

In [13]:
df= next(df_iter)

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
# df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [16]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [23]:
# 2019 Oct

In [21]:
df_2019 = pd.read_parquet("green_tripdata_2019-10.parquet")

In [22]:
df_2019.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,None,0.3,19.30,2.0,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,None,0.3,9.05,2.0,1.0,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,None,0.3,22.80,2.0,1.0,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,None,0.3,13.56,1.0,1.0,0.0

In [30]:
df_2019["duration"] = df_2019.lpep_dropoff_datetime - df_2019.lpep_pickup_datetime

In [28]:
#Question 3
# Up to 1 mile
tmp_mask = df_2019["trip_distance"] <= 1
tmp_df = df_2019.loc[tmp_mask]
len(tmp_df)

104838

In [32]:
# Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.
df_2019.loc[df_2019['trip_distance'].idxmax()]

VendorID                                   2
lpep_pickup_datetime     2019-10-31 23:23:41
lpep_dropoff_datetime    2019-11-01 13:01:07
store_and_fwd_flag                         N
RatecodeID                               5.0
PULocationID                             129
DOLocationID                             265
passenger_count                          1.0
trip_distance                         515.89
fare_amount                            100.0
extra                                   2.75
mta_tax                                  0.0
tip_amount                               0.0
tolls_amount                             0.0
ehail_fee                               None
improvement_surcharge                    0.3
total_amount                          103.05
payment_type                             2.0
trip_type                                1.0
congestion_surcharge                     0.0
duration                     0 days 13:37:26
Name: 386795, dtype: object

In [35]:
# For the passengers picked up in October 2019 in the zone named 
# "East Harlem North" which was the drop off zone that had the largest tip?
# df_zone[df_zone["Zone"] == "East Harlem North"]
pu_mask = df_2019["PULocationID"] == 74
tmp_pu_df = df_2019.loc[pu_mask]
tmp_pu_df.loc[tmp_pu_df['tip_amount'].idxmax()]

VendorID                                   2
lpep_pickup_datetime     2019-10-25 15:50:05
lpep_dropoff_datetime    2019-10-25 16:50:07
store_and_fwd_flag                         N
RatecodeID                               2.0
PULocationID                              74
DOLocationID                             132
passenger_count                          4.0
trip_distance                          17.01
fare_amount                             52.0
extra                                    0.0
mta_tax                                  0.5
tip_amount                              87.3
tolls_amount                            6.12
ehail_fee                               None
improvement_surcharge                    0.3
total_amount                          146.22
payment_type                             1.0
trip_type                                1.0
congestion_surcharge                     0.0
duration                     0 days 01:00:02
Name: 308891, dtype: object

In [36]:
df_zone[df_zone["LocationID"] ==132]

     LocationID Borough         Zone service_zone
131         132  Queens  JFK Airport     Airports

In [43]:
# Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?
from datetime import datetime
time_mask = df_2019["lpep_pickup_datetime"].dt.date ==  datetime.strptime('2019-10-18', '%Y-%m-%d').date()
time_df = df_2019.loc[time_mask]
# tmp_pu_df = df_2019.loc[pu_mask]
# tmp_pu_df.loc[tmp_pu_df['tip_amount'].idxmax()]

In [53]:
tmp_time_df = time_df.groupby("PULocationID")["total_amount"].agg("sum").reset_index()

In [54]:
tmp_time_df.head()

   PULocationID  total_amount
0             3        862.05
1             4        125.65
2             7       9190.86
3             9        326.85
4            10        731.20

In [56]:
tmp_time_df.sort_values("total_amount", ascending=False).head()

     PULocationID  total_amount
63             74      18686.68
64             75      16797.26
146           166      13029.79
31             41      12440.66
71             82      12431.96

In [58]:
df_zone[df_zone["LocationID"].isin([74,75,166])]

     LocationID    Borough                 Zone service_zone
73           74  Manhattan    East Harlem North    Boro Zone
74           75  Manhattan    East Harlem South    Boro Zone
165         166  Manhattan  Morningside Heights    Boro Zone

In [25]:
df_zone = pd.read_csv("taxi_zone_lookup.csv")

In [26]:
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone